.css-1jep1p5{
    max-width: 100vw !important;
    min-height: 100vh;
    height: 100%;
}

.css-1eaoait{
    background-color: transparent !important;
    padding: 0 !important;
}
.css-a5mhaz{
    padding: 0 !important
}